<nav class="sidebar text-md hidden-print hidden-xs hidden-sm" data-spy="affix" data-offset-top="90" data-offset-bottom="20">
  <ul class="nav">
    <li><a href="#whatisruby">What is ruby?</a></li>
    <li><a href="#getstarted">Getting started</a></li>
    <li><a href="#examples">Simple examples</a></li>
    <li><a href="#strings">Strings</a></li>
    <li><a href="#regexp">Regular expressions</a></li>
    <li><a href="#arrays">Arrays</a></li>
    <li><a href="#backtoexamples">Back to the simple examples</a></li>
    <li><a href="#control">Control structures</a></li>
    <li><a href="#iterators">Iterators</a></li>
    <li><a href="#oothinking">Object-oriented thinking</a></li>
    <li><a href="#methods">Methods</a></li>
    <li><a href="#classes">Classes</a></li>
    <li><a href="#inheritance">Inheritance</a></li>
    <li><a href="#redefinemethods">Redefinition of methods</a></li>
    <li><a href="#accesscontrol">Access control</a></li>
    <li><a href="#singletonmethods">Singleton methods</a></li>
    <li><a href="#modules">Modules</a></li>
    <li><a href="#procobjects">Procedure objects</a></li>
    <li><a href="#variables">Variables</a></li>
    <li><a href="#globalvars">Global Variables</a></li>
    <li><a href="#instancevars">Instance variables</a></li>
    <li><a href="#localvars">Local variables</a></li>
    <li><a href="#constants">Class constants</a></li>
    <li><a href="#rescue">Exception processing: rescue</a></li>
    <li><a href="#ensure">Exception processing: ensure</a></li>
    <li><a href="#accessors">Accessors</a></li>
    <li><a href="#objinitialization">Object initialization</a></li>
    <li><a href="#misc">Nuts and bolts</a></li>
    <li><a href="#about">About the guide</a></li>
  </ul>
</nav>
